<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bảng giá</title>
  <!-- Thêm Bootstrap CSS từ CDN -->
  <script src="/javascripts/date.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/currency.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>

<body>
  <!-- Thanh menu Bootstrap -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Trang Chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lich">Lịch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orderList">Đơn Hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/priceList">Bảng Giá</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/depositList">Cọc</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h3 class="mt-3">Thêm sản phẩm</h3>
        <form action="/addPrice" method="POST" class="text-center">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Loại hàng" name="loai_hang" required>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Mặt hàng" name="ten_san_pham" required>
          </div>
          <div class="mb-3">
            <input type="number" class="form-control" placeholder="Giá tiền" name="gia" required>
          </div>
          <button type="submit" class="btn btn-success">Thêm</button>
        </form>
        <div class="gc">
          <h3 class="">Ghi chú</h3>
          <p>- Bảng giá mới được cập nhật vào ngày 4/10/2023. Cập nhật thêm bảng giá của Tik Tok và sửa đổi giá của một số mặt hàng bên Facebook (Like nhanh và Like chậm). Bảng giá mới được áp dụng vào ngày 5/10/2023 </p>
          <p>- Bảng giá mới được cập nhật vào ngày 18/9/2023. Giá của follow thì sẽ thương lượng theo chất lượng </p>
        </div>
      </div>
      <div class="col-9">
        <h3 class="text-center mt-3">Bảng giá</h3>
        <table class="table table-bordered">
          <thead>
            <tr class="text-white bg-primary text-center">
              <!-- <th>ID</th> -->
              <th>Loại hàng</th>
              <th>Mặt hàng</th>
              <th>Giá tiền</th>
              <th>Tính năng</th>
            </tr>
          </thead>
          <tbody>
            <% price.forEach(function(item) { %>
              <tr class="text-center">
                <!-- <td>
                  <%= item.id %>
                </td> -->
                <td>
                  <%= item.loai_hang %>
                </td>
                <td>
                  <%= item.ten_san_pham %>
                </td>
                <td class="format-currency">
                  <%= item.gia %>
                </td>
                <td>
                  <button class="btn btn-primary">Sửa</button>
                  <button class="btn btn-danger">Xóa</button>
                </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </div>
    </div>



  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
</body>

</html>